# Python Cache

*/__pycache__/*
*\__pycache__\*
*.pyc

# Data Fragments

## Lidar Data
*.las

## OrthoPhoto Data
*.tif
*.TIF
*.geotif
*.GEOTIF

# Virtual Environments

env/*
venv/*
env**/*

# Visual Studio

.vs/*
.vscode/*
*.code-workspace

# General Directories

files/*
misc/*
out/*
build/*
dist/*
data/*

# Development Only Objects

_upload_*.bat
install.bat
uninstall.bat
quick_install.bat
testfile.py
src/*.egg-info
